extends layout

block content
  #explanation
    h1= title
    p Welcome to #{title}
    h3 LindaをMax風にビジュアルプログラミング
    li /controlでsensorを追加
    li 適当なパスで結びつけるオブジェクトを作成する
    li sensorとobjectsをconnectionして条件を作成する
